In [1]:
import sqlite3
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [ ]:
# Create the students table
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')

In [ ]:
# Create the courses table
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
''')

In [ ]:
# Create the enrollments table
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id),
    FOREIGN KEY (course_id) REFERENCES courses (course_id)
);
''')

In [ ]:
# Create the exams table
cursor.execute('''
CREATE TABLE exams (
    exam_id INTEGER PRIMARY KEY,
    enrollment_id INTEGER,
    score INTEGER,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments (enrollment_id)
);
''')

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [ ]:
# Create the students table
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')

In [ ]:
# Create the courses table
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
''')