<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**Installation instructions for Windows users:**

[Install MongoDB Community Edition on Windows](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-windows/)

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [4]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp310-cp310-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp310-cp310-win_amd64.whl (582 kB)
   ---------------------------------------- 0.0/582.0 kB ? eta -:--:--
   ------- -------------------------------- 112.6/582.0 kB 2.2 MB/s eta 0:00:01
   ------------------------------ --------- 440.3/582.0 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 582.0/582.0 kB 4.6 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   ---------------------------------------- 307.7/307.7 kB 9.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.8.0

**Start the mongod server (if it isn't already running):**

Windows:
1. Using Command Prompt navigate to the folder containing `mongod.exe` (e.g. by typing cd "C:\Program Files\MongoDB\Server\7.0\bin").
2.  Execute `mongod` at the prompt.

Mac:
1. Run `brew services start mongodb-community@7.0`

In [6]:
# Creating a client object in our local machine
client = MongoClient('localhost', 27017)

In [7]:
print(client.list_database_names())

['admin', 'config', 'local']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [8]:
db = client.test

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [9]:
print(client.list_database_names())

['admin', 'config', 'local']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [10]:
#ANSWER
mycol = db.shoppers

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [11]:
#ANSWER:
mydict = { "name": "Paul", "address": "Mansfield Ave" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

66b44c245fd75a711f4256a1

Now test for the existence of the database:

In [12]:
#ANSWER:
db_list = client.list_database_names()

# Check if 'test' database exists
if "test" in db_list:
    print("The 'test' database exists.")
else:
    print("The 'test' database does not exist.")

print("All databases:", db_list)

The 'test' database exists.
All databases: ['admin', 'config', 'local', 'test']

List all collections in the database:

In [13]:
#ANSWER
collection_list = db.list_collection_names()

print("Collections in the 'test' database:")
for collection in collection_list:
    print(f"- {collection}")

print(f"\nTotal number of collections: {len(collection_list)}")

Collections in the 'test' database:
- shoppers

Total number of collections: 1

Insert another record in the "shoppers" collection
("name" = "Rafa", "address" = "Holder Drive")
and return the value of the _id field:

In [14]:
new_shopper = {
    "name": "Rafa",
    "address": "Holder Drive"
}

# Insert the document into the collection
result = mycol.insert_one(new_shopper)

print("Inserted document _id:", result.inserted_id)

Inserted document _id: 66b44cb75fd75a711f4256a2

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [15]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]

In [16]:
result = mycol.insert_many(mylist)

# Print the list of the _id values of the inserted documents
print("Inserted IDs:")
for id in result.inserted_ids:
    print(id)
print(f"\nNumber of documents inserted: {len(result.inserted_ids)}")

Inserted IDs:
66b44ce15fd75a711f4256a3
66b44ce15fd75a711f4256a4
66b44ce15fd75a711f4256a5
66b44ce15fd75a711f4256a6
66b44ce15fd75a711f4256a7
66b44ce15fd75a711f4256a8
66b44ce15fd75a711f4256a9
66b44ce15fd75a711f4256aa
66b44ce15fd75a711f4256ab
66b44ce15fd75a711f4256ac

Number of documents inserted: 10

Print a list of the _id values of the inserted documents:

In [23]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]
result = mycol.insert_many(mylist)

# Print the list of the _id values of the inserted documents
print("List of _id values of the inserted documents:")
print(result.inserted_ids)

List of _id values of the inserted documents:
[ObjectId('66b44e005fd75a711f4256d5'), ObjectId('66b44e005fd75a711f4256d6'), ObjectId('66b44e005fd75a711f4256d7'), ObjectId('66b44e005fd75a711f4256d8'), ObjectId('66b44e005fd75a711f4256d9'), ObjectId('66b44e005fd75a711f4256da'), ObjectId('66b44e005fd75a711f4256db'), ObjectId('66b44e005fd75a711f4256dc'), ObjectId('66b44e005fd75a711f4256dd'), ObjectId('66b44e005fd75a711f4256de')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [24]:
mylist = [
  { "_id": 1, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 2, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 3, "name": "Ashton", "address": "Axle St"},
  { "_id": 4, "name": "Benjamin", "address": "Green Dr"},
  { "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  { "_id": 6, "name": "Helen", "address": "Castor Prom"},
  { "_id": 7, "name": "Craig", "address": "Parsons Way"},
  { "_id": 8, "name": "Betty", "address": "Watters St"},
  { "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  { "_id": 10, "name": "Kent", "address": "Garrison St"},
  { "_id": 11, "name": "Violet", "address": "Station St"},
  { "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Now try inserting a new dict with an existing `_id`:

In [25]:
# Warning -- This code will return an error as id no: 12 is already exists
x = mycol.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})

DuplicateKeyError: E11000 duplicate key error collection: test.shoppers index: _id_ dup key: { _id: 12 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.shoppers index: _id_ dup key: { _id: 12 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 12}}

In [27]:
from pymongo.errors import DuplicateKeyError

In [29]:
# existing _id
duplicate_doc = { "_id": 12, "name": "Lola", "address": "Prospect Dr"}

try:
    result = mycol.insert_one(duplicate_doc)
    print(f"Inserted document with _id: {result.inserted_id}")
except DuplicateKeyError:
    print(f"Error: Document with _id {duplicate_doc['_id']} already exists.")

# verify the existing document
existing_doc = mycol.find_one({"_id": 12})
print("\nExisting document with _id 12:")
print(existing_doc)

Error: Document with _id 12 already exists.

Existing document with _id 12:
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [31]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('66b44c245fd75a711f4256a1'), 'name': 'Paul', 'address': 'Mansfield Ave'}

Do the same for the document containing "name" = "Ashton":

In [32]:
x = mycol.find_one({"name": "Ashton"})
if x:
    print(x)
else:
    print("No document found with name 'Ashton'")

{'_id': ObjectId('66b44ce15fd75a711f4256a3'), 'name': 'Ashton', 'address': 'Axle St'}

This returns (and prints) all documents in the collection:

In [33]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('66b44c245fd75a711f4256a1'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66b44cb75fd75a711f4256a2'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66b44ce15fd75a711f4256a3'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44ce15fd75a711f4256a4'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44ce15fd75a711f4256a5'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44ce15fd75a711f4256a6'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44ce15fd75a711f4256a7'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44ce15fd75a711f4256a8'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44ce15fd75a711f4256a9'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44ce15fd75a711f4256aa'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44ce15fd75a711f4256ab'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44ce15fd75a711f4256ac'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44da65fd75a711f4256ad'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44da65fd75a711f4256ae'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44da65fd75a711f4256af'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44da65fd75a711f4256b0'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44da65fd75a711f4256b1'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44da65fd75a711f4256b2'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44da65fd75a711f4256b3'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44da65fd75a711f4256b4'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44da65fd75a711f4256b5'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44da65fd75a711f4256b6'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44db95fd75a711f4256b7'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44db95fd75a711f4256b8'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44db95fd75a711f4256b9'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44db95fd75a711f4256ba'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44db95fd75a711f4256bb'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44db95fd75a711f4256bc'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44db95fd75a711f4256bd'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44db95fd75a711f4256be'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44db95fd75a711f4256bf'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44db95fd75a711f4256c0'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c1'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c2'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c3'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c4'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c5'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c8'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256ca'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44df65fd75a711f4256cb'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44df65fd75a711f4256cc'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44df65fd75a711f4256cd'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44df65fd75a711f4256ce'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44df65fd75a711f4256cf'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44df65fd75a711f4256d0'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44df65fd75a711f4256d1'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44df65fd75a711f4256d2'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44df65fd75a711f4256d3'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44df65fd75a711f4256d4'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44e005fd75a711f4256d5'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66b44e005fd75a711f4256d6'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66b44e005fd75a711f4256d7'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66b44e005fd75a711f4256d8'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66b44e005fd75a711f4256d9'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66b44e005fd75a711f4256da'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44e005fd75a711f4256db'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44e005fd75a711f4256dc'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66b44e005fd75a711f4256dd'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44e005fd75a711f4256de'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

This returns only the name and address fields:

In [34]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

Print only the `_id` and name fields:

In [35]:
#ANSWER
for x in mycol.find({}, {"_id": 1, "name": 1}):
    print(x)

{'_id': ObjectId('66b44c245fd75a711f4256a1'), 'name': 'Paul'}
{'_id': ObjectId('66b44cb75fd75a711f4256a2'), 'name': 'Rafa'}
{'_id': ObjectId('66b44ce15fd75a711f4256a3'), 'name': 'Ashton'}
{'_id': ObjectId('66b44ce15fd75a711f4256a4'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44ce15fd75a711f4256a5'), 'name': 'Sally'}
{'_id': ObjectId('66b44ce15fd75a711f4256a6'), 'name': 'Helen'}
{'_id': ObjectId('66b44ce15fd75a711f4256a7'), 'name': 'Craig'}
{'_id': ObjectId('66b44ce15fd75a711f4256a8'), 'name': 'Betty'}
{'_id': ObjectId('66b44ce15fd75a711f4256a9'), 'name': 'Aparna'}
{'_id': ObjectId('66b44ce15fd75a711f4256aa'), 'name': 'Kent'}
{'_id': ObjectId('66b44ce15fd75a711f4256ab'), 'name': 'Violet'}
{'_id': ObjectId('66b44ce15fd75a711f4256ac'), 'name': 'Svetlana'}
{'_id': ObjectId('66b44da65fd75a711f4256ad'), 'name': 'Ashton'}
{'_id': ObjectId('66b44da65fd75a711f4256ae'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44da65fd75a711f4256af'), 'name': 'Sally'}
{'_id': ObjectId('66b44da65fd75a711f4256b0'), 'name': 'Helen'}
{'_id': ObjectId('66b44da65fd75a711f4256b1'), 'name': 'Craig'}
{'_id': ObjectId('66b44da65fd75a711f4256b2'), 'name': 'Betty'}
{'_id': ObjectId('66b44da65fd75a711f4256b3'), 'name': 'Aparna'}
{'_id': ObjectId('66b44da65fd75a711f4256b4'), 'name': 'Kent'}
{'_id': ObjectId('66b44da65fd75a711f4256b5'), 'name': 'Violet'}
{'_id': ObjectId('66b44da65fd75a711f4256b6'), 'name': 'Svetlana'}
{'_id': ObjectId('66b44db95fd75a711f4256b7'), 'name': 'Ashton'}
{'_id': ObjectId('66b44db95fd75a711f4256b8'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44db95fd75a711f4256b9'), 'name': 'Sally'}
{'_id': ObjectId('66b44db95fd75a711f4256ba'), 'name': 'Helen'}
{'_id': ObjectId('66b44db95fd75a711f4256bb'), 'name': 'Craig'}
{'_id': ObjectId('66b44db95fd75a711f4256bc'), 'name': 'Betty'}
{'_id': ObjectId('66b44db95fd75a711f4256bd'), 'name': 'Aparna'}
{'_id': ObjectId('66b44db95fd75a711f4256be'), 'name': 'Kent'}
{'_id': ObjectId('66b44db95fd75a711f4256bf'), 'name': 'Violet'}
{'_id': ObjectId('66b44db95fd75a711f4256c0'), 'name': 'Svetlana'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c1'), 'name': 'Ashton'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c2'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c3'), 'name': 'Sally'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c4'), 'name': 'Helen'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c5'), 'name': 'Craig'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c6'), 'name': 'Betty'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c7'), 'name': 'Aparna'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c8'), 'name': 'Kent'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c9'), 'name': 'Violet'}
{'_id': ObjectId('66b44dbf5fd75a711f4256ca'), 'name': 'Svetlana'}
{'_id': ObjectId('66b44df65fd75a711f4256cb'), 'name': 'Ashton'}
{'_id': ObjectId('66b44df65fd75a711f4256cc'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44df65fd75a711f4256cd'), 'name': 'Sally'}
{'_id': ObjectId('66b44df65fd75a711f4256ce'), 'name': 'Helen'}
{'_id': ObjectId('66b44df65fd75a711f4256cf'), 'name': 'Craig'}
{'_id': ObjectId('66b44df65fd75a711f4256d0'), 'name': 'Betty'}
{'_id': ObjectId('66b44df65fd75a711f4256d1'), 'name': 'Aparna'}
{'_id': ObjectId('66b44df65fd75a711f4256d2'), 'name': 'Kent'}
{'_id': ObjectId('66b44df65fd75a711f4256d3'), 'name': 'Violet'}
{'_id': ObjectId('66b44df65fd75a711f4256d4'), 'name': 'Svetlana'}
{'_id': ObjectId('66b44e005fd75a711f4256d5'), 'name': 'Ashton'}
{'_id': ObjectId('66b44e005fd75a711f4256d6'), 'name': 'Benjamin'}
{'_id': ObjectId('66b44e005fd75a711f4256d7'), 'name': 'Sally'}
{'_id': ObjectId('66b44e005fd75a711f4256d8'), 'name': 'Helen'}
{'_id': ObjectId('66b44e005fd75a711f4256d9'), 'name': 'Craig'}
{'_id': ObjectId('66b44e005fd75a711f4256da'), 'name': 'Betty'}
{'_id': ObjectId('66b44e005fd75a711f4256db'), 'name': 'Aparna'}
{'_id': ObjectId('66b44e005fd75a711f4256dc'), 'name': 'Kent'}
{'_id': ObjectId('66b44e005fd75a711f4256dd'), 'name': 'Violet'}
{'_id': ObjectId('66b44e005fd75a711f4256de'), 'name': 'Svetlana'}
{'_id': 1, 'name': 'Paul'}
{'_id': 2, 'name': 'Rafa'}
{'_id': 3, 'name': 'Ashton'}
{'_id': 4, 'name': 'Benjamin'}
{'_id': 5, 'name': 'Sally'}
{'_id': 6, 'name': 'Helen'}
{'_id': 7, 'name': 'Craig'}
{'_id': 8, 'name': 'Betty'}
{'_id': 9, 'name': 'Aparna'}
{'_id': 10, 'name': 'Kent'}
{'_id': 11, 'name': 'Violet'}
{'_id': 12, 'name': 'Svetlana'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [36]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('66b44ce15fd75a711f4256a8'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44ce15fd75a711f4256a9'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44ce15fd75a711f4256ab'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44ce15fd75a711f4256ac'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44da65fd75a711f4256b2'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44da65fd75a711f4256b3'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44da65fd75a711f4256b5'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44da65fd75a711f4256b6'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44db95fd75a711f4256bc'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44db95fd75a711f4256bd'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44db95fd75a711f4256bf'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44db95fd75a711f4256c0'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c7'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c9'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256ca'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44df65fd75a711f4256d0'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44df65fd75a711f4256d1'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44df65fd75a711f4256d3'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44df65fd75a711f4256d4'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44e005fd75a711f4256da'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44e005fd75a711f4256db'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66b44e005fd75a711f4256dd'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66b44e005fd75a711f4256de'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [37]:
#ANSWER:
myquery = { "address": { "$regex": "^W" } }
mydoc = mycol.find(myquery)

print("Documents with address starting with 'W':")
for x in mydoc:
    print(x)

Documents with address starting with 'W':
{'_id': ObjectId('66b44ce15fd75a711f4256a8'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44ce15fd75a711f4256ac'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44da65fd75a711f4256b2'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44da65fd75a711f4256b6'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44db95fd75a711f4256bc'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44db95fd75a711f4256c0'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44dbf5fd75a711f4256c6'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44dbf5fd75a711f4256ca'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44df65fd75a711f4256d0'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44df65fd75a711f4256d4'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66b44e005fd75a711f4256da'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66b44e005fd75a711f4256de'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [38]:
#ANSWER:
sorted_docs = mycol.find().sort("name", 1)

print("Documents sorted by name (ascending order):")
for doc in sorted_docs:
    print(f"Name: {doc['name']}, Address: {doc['address']}")

Documents sorted by name (ascending order):
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Paul, Address: Mansfield Ave
Name: Paul, Address: Mansfield Ave
Name: Rafa, Address: Holder Drive
Name: Rafa, Address: Holder Drive
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [39]:
#ANSWER
sorted_docs = mycol.find().sort("name", -1)

print("Documents sorted by name (descending order):")
for doc in sorted_docs:
    print(f"Name: {doc['name']}, Address: {doc['address']}")

Documents sorted by name (descending order):
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Violet, Address: Station St
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Svetlana, Address: Wayman Ave
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Sally, Address: Holly Blvd
Name: Rafa, Address: Holder Drive
Name: Rafa, Address: Holder Drive
Name: Paul, Address: Mansfield Ave
Name: Paul, Address: Mansfield Ave
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Kent, Address: Garrison St
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Helen, Address: Castor Prom
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Craig, Address: Parsons Way
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Betty, Address: Watters St
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Benjamin, Address: Green Dr
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Ashton, Address: Axle St
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr
Name: Aparna, Address: Yonder Dr

A single record can be deleted by specifying some criterion:

In [40]:
mycol.delete_one({ "address": "Castor Prom" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Now delete all docs with the 2-digit `Id` values:

In [45]:
from bson.regex import Regex

# Query to match documents with 2-digit _id values
query = {"_id": {"$type": "int", "$regex": Regex("^[0-9]{2}$")}}

# Delete the matching documents
result = mycol.delete_many(query)

print(f"Deleted {result.deleted_count} document(s)")

Deleted 0 document(s)

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [44]:
#ANSWER:
query = {"address": "Garrison St"}

new_values = {"$set": {"address": "Somers Ave"}}
result = mycol.update_one(query, new_values)

print(f"Matched {result.matched_count} document(s)")
print(f"Modified {result.modified_count} document(s)")

Matched 0 document(s)
Modified 0 document(s)

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [46]:
#ANSWER:
limited_docs = mycol.find().sort("_id", 1).limit(5)

print("First 5 documents in the collection:")
for doc in limited_docs:
    print(f"_id: {doc['_id']}, Name: {doc['name']}, Address: {doc['address']}")

First 5 documents in the collection:

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [47]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [48]:
#client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [49]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [50]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

KeyError: "None of ['_id'] are in the columns"

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [51]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Empty DataFrame
Columns: []
Index: []

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [52]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [55]:
pip install folium

Collecting foliumNote: you may need to restart the kernel to use updated packages.

  Using cached folium-0.17.0-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting branca>=0.6.0 (from folium)
  Using cached branca-0.7.2-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in c:\users\tien\appdata\roaming\python\python310\site-packages (from folium) (2.0.0)
Requirement already satisfied: requests in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from folium) (2.31.0)
Collecting xyzservices (from folium)
  Downloading xyzservices-2024.6.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from requests->folium) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from requests->folium) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tien\anaconda3\envs\iod\lib\site-packages (from requests->folium) (2024.2.2)
Using cached folium-0.17.0-py2.py3-none-any.whl (108 kB)
Using cached branca-0.7.2-py3-none-any.whl (25 kB)
Downloading xyzservices-2024.6.0-py3-none-any.whl (83 kB)
   ---------------------------------------- 0.0/83.9 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/83.9 kB ? eta -:--:--
   ---------------------------------------  81.9/83.9 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 83.9/83.9 kB 1.2 MB/s eta 0:00:00
Installing collected packages: xyzservices, branca, folium
Successfully installed branca-0.7.2 folium-0.17.0 xyzservices-2024.6.0

In [56]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.17.0

In [54]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

['admin', 'config', 'local', 'test']
['admin', 'config', 'local']

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



>
>
>



---



---



> > > > > > > > >  2024 Institute of Data


---



---